body {
  font-family: Arial,sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}


header {
  background-color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  border-bottom: 1px solid #000;
  margin-top: 5px;
}

.nav1 ul {
  display: flex;
  
}

.nav2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav3 ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav1 {
  flex: 1;
}

.nav2 {
  flex: 1;
}

.nav3 {
  flex: 1;

}

.nav1 ul li {
  font-size: 13px;
  align-items: center;
  margin-right: 40px;
}

.nav3 ul li {
  font-size: 13px;
  align-items: center;
  margin-right: 40px;
  
}

.nav2 ul li {
  font-size: 13 px;
  font-weight: 600;
  justify-content: center ;
  align-items: center;
}

.left {
  height: 438px;
  width: 110px;
  font-size: 12px;
  margin: 20px 0 0 5px;
}

.left1 ul li {
  margin-bottom: 5px;
}

.left1 ul :nth-child(1) a {
  color: #006d3c;
  
}

.left1 ul :nth-child(2) a {
  color: #00a0e9;
}

.left1 ul :nth-child(3) a {
  color: #1d2088;
}

.left1 ul :nth-child(4) a {
  color: #e4007f;
}

.left2 {
  margin-top: 30px;
}

.left2 ul li {
  margin-bottom: 5px;
}

.left3 {
  margin: 50px 0 50px 0;
}

.left3 input {
  box-sizing: border-box;
  width: 110px;
  height: 20px;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


.left4 {
  font-size: 14px;
}

.left4 ul li {
  margin-bottom: 5px;
  font-size: 12px;
}

.left4 ul :nth-child(1) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  width: 100%;
  height: 3000px;
  margin: 0 auto;
  position: fixed;
  left: 300px;
  top: 110px;
  word-wrap: wrap;
}

.main ul {
  display: flex;
  margin: 0 auto;
  font-size: 12px;
}

.main ul li a {
  margin: 10px;
}

.main .main1 {
  margin-top: 20px;
}

.img {
  display: flex;
}

.img div {
  width: 25%;
  /* display: flex; */
}

.img img {
  width: 300px;
  height: 500px;
  margin-right: 50px;
}

.img {
  display: flex;
}

.img span {
  font-size: 13px;
  align-items: center ;
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
}

.name {
  margin-bottom: 30px;
  display: block;
}