body {
  font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Inter','Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',sans-serif;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  word-wrap: wrap;
  height: 100%;
  /* max-height: 2500px; */
  /* max-width: 1700px; */
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #000;
}


header {
  background-color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  border-bottom: 1px solid #000;
  /* margin-top: 5px; */
  position: fixed;
  z-index: 10;
  
}

.nav1 ul {
  display: flex;
  
}

.nav2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav3 ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav1 {
  flex: 1;
}

.nav2 {
  flex: 1;
}

.nav3 {
  flex: 1;

}

.nav1 ul li {
  font-size: 13px;
  align-items: center;
  margin-right: 40px;
}

.nav1 ul li a:hover {
  color: #333;
}

.nav3 ul li {
  font-size: 13px;
  align-items: center;
  margin-right: 40px;
}

.nav3 ul li a:hover {
  color: #333;
}

.nav2 ul li {
  font-size: 13 px;
  font-weight: 600;
  justify-content: center ;
  align-items: center;
  background-color: #fff;
}

.left {
  height: 438px;
  width: 110px;
  font-size: 12px;
  margin: 20px 0 0 5px;
  position: fixed;
}

.left1 ul {
  margin-top: 30px;
}

.left1 ul li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.left1 ul :nth-child(1) a {
  color: #006d3c;
  
}

.left1 ul :nth-child(2) a {
  color: #00a0e9;
}

.left1 ul :nth-child(3) a {
  color: #1d2088;
}

.left1 ul :nth-child(4) a {
  color: #e4007f;
}

.left2 {
  margin-top: 30px;
}

.left2 ul li {
  margin-bottom: 5px;
}

.left3 {
  margin: 50px 0 50px 0;
}

.left3 input {
  box-sizing: border-box;
  width: 110px;
  height: 20px;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


.left4 {
  font-size: 14px;
}

.left4 ul li {
  margin-bottom: 5px;
  font-size: 12px;
}

.left4 ul :nth-child(1) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  width: 1500px;
  height: 3000px;
  margin: 0 auto;
  position: absolute;
  left: 350px;
  top: 105px;
  word-wrap: wrap;
  /* overflow: hidden; */
}

.main ul {
  display: flex;
  margin: 0 auto;
  font-size: 12px;
}

.main ul li a {
  margin: 10px;
}

.main .main1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.img {
  display: flex;
  word-wrap: wrap;
  flex-wrap: wrap;
  /* width: 5000px; */
  /* height: 3000px; */
}

.img div {
  width: 350px;
  /* display: flex; */
  position: relative;
  word-wrap: wrap;


}

.img img {
  width: 300px;
  height: 500px;
  margin-right: 20px;
  word-wrap: wrap;
}

.img {
  display: flex;
}

.img span {
  font-size: 13px;
  align-items: center ;
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
  left: 10px;
}

.name {
  margin-bottom: 30px;
  display: block;
}



.footer {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 20px;
  bottom: 0;
  display: flex;
  font-size: 15px;
  border-top: 1px solid #000;
}

.footer1 {
  position: absolute;
  left: 0;
}

.footer1 span {
  margin-left: 10px;
}

.footer2 {
  position: absolute;
  right: 0;
}

.footer2 a {
  margin-left: 10px;
  margin-right: 10px;
}

.footer img {
  width: 140px;
  height: 97px;
  position: absolute;
  left: 1750px;
  bottom: 20px;
  margin-bottom: 10px;
}

.cover {
  border-top: 1px solid #000;
  height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  display: flex;
}

.cover .cover1 {
  position: absolute;
  top: 10px;
}

.cover .cover2 {
  position: absolute;
  top: 40px;
}

.cover span {
  padding-left: 5px;
}

.youtube {
  position: relative;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 1500px;
  margin-top: 30px;
}

.youtube .youtube__area {
  width: 1200px;
  height: 1000px;
  position: absolute;

}

#player {
  width: 100%;
  height: 100%;
}